table {
    background-color : orange;
    border-collapse: collapse;
}
#chanle {
    border : none;
    background-color : black;
}
#chan, #le {
    border : none;
    background-color : white;
}
th {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
td {
    border : none;
    padding-top : 30px;
    padding-bottom : 30px;
    padding-left : 30px;
    padding-right : 30px;
}